* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

// variable

$glory: 'Glory', sans-serif;
$roboto: 'Roboto', sans-serif;  
$transition: all 0.3s ease-in;

$navyBlue: #145793;

html {
    scroll-behavior: smooth;
}
body {
    font-size: 14px;
    font-family: $roboto;
    line-height: 22px;
    background-color: #F3F3F3;
}
p:last-child {margin-bottom: 0;}
ul {margin: 0; padding: 0;}
a {text-decoration: none;}

.bgOverlayCircleContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    .bgOverlayCircle {
        position: relative;
        top: -45%;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        border-radius: 100%;
        transform: scale(1.55);
        box-shadow: 0 10px 100px rgba(#000000, 0.1);
    }
}

.secHeading {
    position: relative;
    width: 100%;
    h3, h1 {font-family: $glory;}
    h3 { font-size: 26px; line-height: 100%;}
    h1 {
        font-size: 50px; 
        line-height: 100%;
        font-weight: 700;
        color: $navyBlue;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .liveDot {
            width: 22px;
            height: 22px;
            margin-right: 15px;
            display: inline-block;
            border-radius: 50px;
            border: 2px solid #fff;
            background-color: #ff0000;
            box-shadow: 0 0 10px rgba(#000000, 0.1) 
        }
    }
    p {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 1.5em;
    }
    .know-more {
        height: 50px;
        display: inline-flex;
        align-items: center;
        padding: 0 2em;
        justify-content: flex-start;
        background-color: #fff;
        transition: $transition;
        box-shadow: 0 5px 10px rgba(#000000, 0.03);
        &:hover {
            background-color: $navyBlue;
            color: #fff;
            box-shadow: none;
        }
    }
}

header {
    width: 100%;
    z-index: 100;
    .topStrip {
        background-color: #fff;
        padding: .8em 0;
        margin-bottom: 0.3em;
        .__content {
            font-size: 16px;
            font-family: $glory;
            padding: 0 8%;
        }
    }
    .topLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        background-color: #fff;
        img {width: auto;}
    }

    .topNavigation {
        width: 100%;

        .menu {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            box-shadow: 0 10px 20px rgba(#000000, 0.03);
            border-radius: 6px;
            background-color: #F9F9F9;
            border: 1px solid rgba($navyBlue, 0.2);
            transition: $transition;

            &:hover {
                border-color: $navyBlue;
                background-color: #fff;
                box-shadow: 0 10px 20px rgba(#000000, 0.08);
            }

            > .menu-item {
                width: 100%;
                // padding: 0 .2em;
                > a {
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000000;
                    transition: $transition;
                    padding: 0 1.5em;
                    white-space: nowrap;
                }

                $subMenuHeight: 36px;
                $subMenuWidth: 185px;
                .sub-menu {
                    left: 0;
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 0 0 6px 6px;
                    list-style: none;
                    box-shadow: 0 20px 30px rgba(#000000, 0.1), 0 4px 0 $navyBlue;
                    overflow: hidden;
                    width: auto;
                    min-width: $subMenuWidth;
                    left: calc(50% - #{$subMenuWidth / 2});
                    li {
                        white-space: nowrap;
                        height: 0;
                        overflow: hidden;
                        transition: height 0.3s ease-in;
                        a {
                            padding: 0 1em;
                            height: $subMenuHeight;
                            transition: padding 0.3s ease-in;
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #eee;
                            color: #222;
                            font-size: 13px;
                            &:hover {
                                text-decoration: none;
                                background-color: $navyBlue;
                                color: #fff;
                                padding-left: 1.3em;
                            }
                        }
                    }
                }
                // header .topNavigation .menu > .menu-item .sub-menu li
                &:hover, &.active {
                    > a {
                        background-color: $navyBlue;
                        text-decoration: none;
                        color: #fff;
                    }
                    .sub-menu {
                        li {height: $subMenuHeight;}
                    }
                }
            }
        }
    }
}

// Slider Section
.sliderSection {
    width: 100%;
    height: 500px;
    margin-top: 2em;
    
    .mainSlider__container {
        width: 100%;
        background-color: #fff;
        .parallax-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .mainTopSlider {
            width: 100%;
            height: 400px;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(#000000, 0.2);
            
            .swiper-slide {
                width: 100%;
                .__image {
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: $navyBlue;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba($navyBlue, .3);
                    }
                }
                .__content {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    h1 {
                        font-family: $glory;
                        font-size: 46px;
                        font-weight: 700;
                        text-shadow: 0 10px 10px rgba(#000000, 0.3);
                    }
                    p { 
                        font-size: 16px; 
                        text-shadow: 0 10px 10px rgba(#000000, 0.3); 
                    }
                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                        height: 50px;
                        padding: 0 2.5em;
                        border: 1px solid #fff;
                        background-color: transparent;
                        color: #fff;
                        &:hover {
                            background-color: #fff;
                            color: black;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: -3em;
            display: flex;
            width: 100%;
            max-width: 1000px;
            left: calc(50% - 500px);
            border-radius: 5px;
            overflow: hidden;
            .swiper-pagination-bullet {
                margin: 0;
                width: 100%;
                border-radius: 0;
                height: 6px;
                position: relative;
                background-color: transparent;
                background-color: #ccc;
                opacity: 1;
                &::after {
                    content: '';
                    width: 0;
                    height: 100%;
                    transition: all .5s ease-in-out;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 5px;
                }
                &.swiper-pagination-bullet-active::after {
                    width: 100%;
                    left: 0;
                    background-color: $navyBlue;
                }
            }
        }
        // .slide__image
    }
}

// Home About Section
.homeAboutSecton {
    width: 100%;
    padding: 3em 0 4em;
    .homeAboutSubSec {
        padding: 0 10%;

        .aboutImg {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img { max-width: 100%;}
        }
    }
}

// Participents section
.partnSectorSection {
    padding: 3em;
    .partnSectorSctnSub {
        background-color: #fff;
        border-radius: 10px;
        padding: 5em;
        background-image: url('../images/pattern.svg');
        background-size: 70%;
        background-attachment: fixed;
        box-shadow: 0 0 60px rgba(#000000, 0.06);

        .participentCards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            &::after {
                content: '';
                position: absolute;
                top: 15%;
                right: 0;
                height: 70%;
                border-right: 1px dashed #999;
            }

            $cardWidth: 190px;
            $cardGap: 3px;
            .__card {
                width: $cardWidth;
                height: $cardWidth;
                background-color: #ccc;
                margin: $cardGap;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 15px 10px;
                text-align: center;
                color: #fff;
                font-family: $glory, $roboto, sans-serif;

                h6 {
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                .__icon {
                    width: 70px;
                    height: 70px;
                    min-width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {max-width: 100%; max-height: 100%;}
                }
                h2 { font-size: 30px; font-weight: 700; }
                &.oncology { background-color: #c73b45; }
                &.dentistry { background-color: #5e97aa; }
                &.familyMedicine { 
                    background-color: #e9b84b;
                    width: ($cardWidth * 2) + ($cardGap * 2);
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .__icon {margin: 0 30px;}
                    div {
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: left;
                        padding: 0 15px 0 25px;
                    }
                }
                &.dermatology { background-color: #1cc28f; }
                &.humanitarian { background-color: #17527a; }
                &.otology { background-color: #8bbf43; }
                &.diagnostics { background-color: #854676; }
                &.healthcare-emergency { background-color: #47accf; }
                &.innovation-education { background-color: #db2f85; }
                &.pharmaceutical { background-color: #7169e7; }
                &.nutrition { background-color: #0b8123; }
                &.arab-maghreb { background-color: #e83d44; }
                &.partners { background-color: #1e2749; }
                &.collaboration-with { background-color: #88c79f; }
            }
        }
    }

    .figureNfactContainer {
        position: relative;
        width: 100%;
        padding-top: 50px;

        .factNfigureSwiper {
            $cardWidth: 350px;
            width: $cardWidth;
            height: ($cardWidth / 2) * 3;
            .swiper-slide {
                .swiper-slide-shadow {background-color: transparent;}
                .factNfigureCard {
                    width: $cardWidth;
                    height: ($cardWidth / 2) * 3;
                    border: 1px solid #707070;
                    border-radius: 15px;
                    background-color: #fff;
                    padding: 2.5em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3 {font-weight: 700; font-size: 30px;}
                    h1 {font-size: 70px; line-height: 100%;}
                    opacity: .5;
                }
                &.swiper-slide-active {
                    .factNfigureCard {
                        opacity: 1;
                        border: 2px solid $navyBlue;
                    }
                }
            }
        }
    }
    
}


.webinarSection {
    width: 100%;
    height: 1000px;
    padding: 5em 0;

    .webinarSec {
        width: 100%;
        ._header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .viewAll {
                height: 45px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                border: 1px solid #e6e6e6;
                white-space: nowrap;
                padding: 0 1em;
                transition: $transition;
                border-radius: 4px;
                i {margin-left: 1em;}
                &:hover {
                    color: #fff;
                    background-color: $navyBlue;
                    border-color: $navyBlue;
                }
            }

            .sliderNavigation {
                background-color: #fff;
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                margin-left: 1em;
                display: flex;
                > div {
                    position: relative;
                    left: inherit;
                    right: inherit;
                    width: 43px;
                    min-width: 43px;
                    height: 43px;
                    display: flex;
                    align-items: center; 
                    justify-content: center;
                    transition: $transition;
                    color: black;
                    &::after {font-size: 16px;}
                    &:hover { background-color: $navyBlue; color: #fff; }
                }
            }
        }

        .liveWebinarSwiper {
            width: 100%;
            height: 350px;
            padding: 1em;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                box-shadow: 0 5px 10px rgba(black, 0.05);
                border-radius: 8px;
            }
        }
    }
}